body {
  margin: 0;
  background: #0f0f0f;
  color: white;
  font-family: Arial, sans-serif;
}
.panel {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 15px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  margin-bottom: 20px;
  margin-left: 14px;
  margin-right: 14px;
  box-shadow: 0 0 20px rgba(0, 30, 255, 0.501);
}

.panel button,
.panel select {
  padding: 10px 18px;
  background: black;
  color: rgb(243, 243, 243);
  border: 1px solid cyan;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  text-shadow: 0 0 5px rgb(66, 147, 223);
  box-shadow: 0 0 10px rgb(0, 132, 255) inset;
  transition: 0.3s;
}

.panel button:hover,
.panel select:hover {
  background: rgb(0, 132, 255);
  color: black;
  box-shadow: 0 0 20px rgb(0, 136, 255);
}

.slider-box {
  color: rgb(255, 255, 255);
  font-size: 14px;
  
}

.slider-box input {
  accent-color: rgb(238, 255, 0);
}

.app {
  text-align: center;
  padding: 10px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  margin: auto;
  width: max-content;
}

.node {
  width: 25px;
  height: 25px;
  border: 1px solid #002cc9;
  background: #1f1f1f;
  aspect-ratio: 1;
  z-index: 10;
}

.node.start {
  background: url(../public/assets/source.svg);
  box-shadow: 0 0 10px #00f50c;
}

.node.end {
  background: url(../public/assets/target.svg);
  box-shadow: 0 0 10px #ff0000;
}

.node.wall {
  background: rgb(255, 39, 39);
  border-radius: 12%;
  z-index: 20;
  animation: wallGrow 0.4s ease-out forwards;
  box-shadow: 0 0 6px #ff0000;
}
@keyframes wallGrow {
  0% {
    transform: scale(0.2);
    background: #eeff06;
    box-shadow: 0 0 0px transparent;
  }
  60% {
    transform: scale(1.15);
    background: #ff992b;
    box-shadow: 0 0 12px #ff0000;
  }
  100% {
    transform: scale(1);
    background: linear-gradient(90deg, #ff0000, #ff640a);
    box-shadow: 0 0 6px #ff0000;
  }
}


.node.visited {
  animation: ripple 0.5s ease-out forwards;
  background: #3498db;
  box-radiuas: 10%;
}

@keyframes ripple {
  0% { transform: scale(0.2); background: #7e0062; }
  50% { transform: scale(0.7); background: #7f29b9; }
  100% { transform: scale(1); background:linear-gradient(90deg, #005187, #3498db); }
}

.node.path {
  animation: glowPath 0.6s ease-out forwards;
  background: linear-gradient(90deg, #eeff06, #f1c40f);
}

@keyframes glowPath {
  0% { transform: scale(0.4); box-shadow: 0 0 2px #f10f0f; }
  50% { transform: scale(1.25); box-shadow: 0 0 12px #ff9602; }
  100% { transform: scale(1); box-shadow: 0 0 4px #f1c40f; }
}


