body {
  margin: 0;
  background: #0f0f0f;
  color: white;
  font-family: Arial, sans-serif;
}

.app {
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  margin: auto;
  width: max-content;
}

.node {
  width: 25px;
  height: 25px;
  border: 1px solid #002cc9;
  background: #1f1f1f;
  transition: background 0.2s ease, transform 0.2s ease;
}

.node.start {
  background: url(../public/assets/source.svg);
  width: 24px;
  aspect-ratio: 1;
  z-index: 20;
  box-shadow: 0 0 10px  #00f50c;
}

.node.end {
 background: url(../public/assets/target.svg);
  width: 24px;
  aspect-ratio: 1;
  z-index: 20;
  box-shadow: 0 0 10px  #f50000;
}

.node.wall {
  background: #555;
}

.node.visited {
  background: #0199fe;
  box-shadow: 0 0 5px #1e80ff;
  transform: scale(0.98);
}

.node.path {
  background: yellow;
  box-shadow: 0 0 10px #ccc12e;
  transform: scale(0.98);
}
